{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Constant construction ... like HWY 101 ... </h2>
<p>Head on over to the <a href="/blog/">blog</a> for something relevant ... The blog contains small bits of information that I've run across over the years.  While I'm a Software Engineer by trade, I have learnt much over the years about infrastructure services (DNS, DHCP, LDAP/AD, File Services, Storage, Networking, OS Internals, etc)  This blog is where I keep my notes on infrastructure, applications, operating systems hacks, etc.</p>
<h2>What are the interwebs?</h2>
<p>
    They are the original meme ... what we get when I engineer the software and execute the codes.
</p>
<ul>
    <li><a href="http://github.com/neoreeps">neoreeps github</a></li>
    <li><a href="https://www.linkedin.com/in/intothewebs">find me on linkedin</a></li>
</ul>
{% endblocktrans %}
{% endblock %}
